<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="PayPalBR_PayPalPlus_Payment_Data" instance="PayPalBR\PayPalPlus\Observer\clearPaymentDataAfterSaveOrder"/>
    </event>
    <event name="admin_system_config_changed_section_payment">
        <observer name="PayPalBR_PayPalPlus_DataAssign" instance="PayPalBR\PayPalPlus\Observer\DataAssign" />
    </event>
    <event name="payment_method_assign_data_paypalbr_paypalplus">
        <observer name="paypalbr_payment_method_assign_data_paypalbr_paypalplus" instance="PayPalBR\PayPalPlus\Observer\PayPalPlusDataAssignObserver" />
    </event>
    <event name="sales_order_place_after">
       <observer name="paypalbr_payment_method_paypalbr_paypalplus_after_place_order" instance="PayPalBR\PayPalPlus\Observer\SalesOrderPlaceAfter" />
   </event>
</config>
