<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="PayPalBR_PayPalPlus::PayPalBR" 
             title="PayPalBR" 
             module="PayPalBR_PayPalPlus" 
             sortOrder="10"
             action = "adminhtml/system_config/edit/section/payment"
             resource="PayPalBR_PayPalPlus::PayPalBR"/>

    </menu>
</config>